# Ignore everything
*

# Include only project files
!**/testdata/
!**/tests/
!**/workflows/
!*.json
!*.md
!*.py
!*.yml
!.coveragerc
!.flake8
!.github/
!.gitignore
!.version
!LICENSE
!MANIFEST.in
!json_fingerprint/
!pyproject.toml
!requirements*.in
!requirements*.txt
